body{
    background-color: rgb(233, 233, 233);
    font-family: monospace;
    max-width: (600px);
    justify-content: center;
}
#quadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.74);
    padding: 8px;

}
#titulo{
    font-size: 60px;
    font-weight: bold;
}
#tempo
{
    font-size: 80px;
}
#cbotao *
{
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
    cursor: pointer;
}

#comecar
{
    background-color: green;
}
#parar
{
    background-color: red;
}
#resetar
{
    background-color: gray;
}
#comecar:hover
{
    background-color: rgb(1, 94, 1);
}
#parar:hover
{
    background-color: rgb(161, 0, 0);
}
#resetar:hover
{
    background-color: rgb(78, 78, 78);
}
